# JupyterLite:
jupyterlab==4.3.6
jupyter-server==2.15.0
jupyterlite==0.5.0
# Xeus Python kernel:
jupyterlite-xeus==3.1.1
xeus-python==0.17.2
# Remote collaboration using WebRTC:
jupyterlab-webrtc-docprovider==0.1.1
# For translating tutorial .md notebooks to .ipynb
jupytext==1.16.7
